.col-lg-3,
.col-lg-6 {
	width: 300px;
	height: 400px;
}
.most-popular {
	margin-top: 60px;
	padding: 30px;
	background-color: #0a192e;
	border-radius: 23px;
}

.heading-section {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 20px;
}

#search input {
	background-color: #122d54;
	height: 46px;
	border-radius: 23px;
	border: none;
	color: #666;
	font-size: 14px;
	padding: 0px 15px 0px 45px;
}

.most-popular .item {
	background-color: #122d54;
	padding: 14px 15px;
	border-radius: 23px;
	margin-bottom: 30px;
}

.most-popular .item .item {
	padding: 0px;
	border-radius: 0px;
	background-color: transparent;
	margin-bottom: 0px;
}

.most-popular .item img {
	border-radius: 23px;
}

.most-popular .item h4 {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 0px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.most-popular .item span {
	color: #ffc000;
	display: block;
	margin-top: 7px;
	font-weight: 400;
}

.most-popular .item ul {
	float: right;
	margin-top: 20px;
}

.most-popular .item ul li {
	text-align: right;
	color: #fff;
	font-size: 14px;
}

.most-popular .item ul li:first-child i {
	color: yellow;
}

.most-popular .item ul li:last-child i {
	color: #ec6090;
}

.most-popular .main-button {
	text-align: center;
	margin-bottom: -53px;
}
